.navbar{
   
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}
.furnior{
    margin: 1% 2%;
    list-style: none;    
}
.navbar_item{
    display: flex;
    margin-left: 6%;
    margin-top: 2%;
    list-style-type: none;

}
.list_name
{
    display: flex;
    margin-left: 45%;
    font-size: large;
    font-weight:600;
}
.navbar_icon{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    margin-right: 4%;
    margin-left: 40%;
    list-style: none;
}



