.thired_container
{
    text-align: center;
   
}
.product_flex
{
    justify-content: space-around;
    margin-top: 2%;
}
.product_container
{
    display: flex;
    justify-content: space-between;
    margin: 0% 3%;
}
.products_content
{
    justify-content: space-around;
}
.product_details
{
 background-color:#F4F5F7;
 width: 100%;
 margin-top: -9%;
}
.more_btn
{
    margin-top: 1%;
    padding: 0.5% 2.5%;
    color:#B88E2F;
    border-color:#B88E2F;
}
.products
{
 margin-top: 3%;
}